
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Documents/~$utline.docx
Figures/~$Figures.pptx
~$asswings paper for nature energy plan5.docx
Notes/Notes.aux
Notes/Notes.pdf
Notes/Notes.out
Notes/Notes.log
Notes/Notes.synctex.gz
Notes/Notes.toc
Notes/Notes.upb
Notes/Notes.upa
